*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column;
}

.header__top{
    background-color: #2F1B10;
    padding: 1rem;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
}

.header__top a{
    text-decoration: none;
    color:inherit;
}



.logo__img{
    width: 10vw;
    height: auto;
}




.search__input{
    border-radius: 20px;
    width: 20vw;
    padding: 0.5rem 2rem;
}






.header__menu-categorias{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.header__menu-categorias .menu__list{
    list-style: none;
    display: flex;
    gap: 1rem;
    height: 100%;
    align-items: center;
}

.header__menu-categorias .menu__list li{
    padding:0  1rem;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.header__menu-categorias .menu__list li a{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.header__menu-categorias .menu__list li:nth-child(-n + 2){
    border-right: 2px solid white;
}





.carrito__img{
    width: 5vw;
    height: auto;
}






.header__bottom{
    background-color: #1A120D;
    color: white;
}

.header__bottom .header__menu{
    height: 100%;
    width: 100%;
}
.header__bottom .menu__list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}
.header__bottom .menu__list li{
    width: 25%;
}


.header__bottom .menu__list li a{
    padding: 1rem;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.header__bottom .menu__list li a:hover{
    background-color: #38271c;
}

main{
    background-color: #F8F3ED;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 2rem 6rem;
    gap: 2rem;
}


main .hero{
     display: flex;
  background-image: url("../assets/img/carruselimg1.png");
  background-size: 70vw;
  background-position: center;
  background-repeat: no-repeat;

  width: 70vw;
  height: 43vh;
  color: white;
  justify-content: space-between;
}

main .hero__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}


.hero__text{
    font-size: 1.5rem;
}

.hero__button--left, .hero__button--right{
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.hero__button--left img , .hero__button--right img{
    width: 2vw;
    height: auto;
}

.hero__button--right img{
    transform: rotateY(180deg);
}


.hero .hero__text button{
    background-color: transparent;
    border-radius: 20px;
    color: white;
    padding: 0.5rem 2rem;
    width: fit-content;
    border: 2px solid white;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.1rem;
}

.productos--grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap:2rem;
}


.productos--grid .producto--card{
    background-color: #CFC6BC;
    padding: 1rem 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}




.producto--card .mueble--descripcion{
    text-align: left;
}

.producto--card .mueble--precio{
    font-size: 1.2rem;
    font-weight: bold;
}
.producto--card .mueble--agregar{
    padding: 0.6rem 2rem;
    background-color: #3A2416;
    color: white;
    font-size: 1.3rem;
    width: fit-content;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid transparent;
}

.producto--card .mueble--agregar:hover{
    background-color: transparent;
    color: #3A2416;
    border: 2px solid #3A2416;
}

.footer{
    /* background-color: #6C4E3A; */
    background-color: #2F1B10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap:2rem;
    color: white;
}

.footer .footer__logo .footer__logo--img{
    width: 20rem;
    height: auto;
}

.footer__social .list__social--networks{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.footer__social .list__social--networks li{
    background-color: #8A6A55;
    border-radius: 100%;
    padding: 0.6rem;
}
.footer__social .list__social--networks li a{
    font-size: 1.5rem;
    color: white;
}


.footer__datos{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.footer__datos .datos--empresa{
    display: flex;
    flex-direction: column;
}
.footer__datos .datos--empresa a{
    color: white;
    text-decoration: none;
}


.footer__datos .datos--info{
    display: flex;
    flex-direction: column;
}
.footer__datos .datos--info a{
    color: white;
    text-decoration: none;
}


.footer__hr{
    width: 90vw;
}

.footer__reserved{
    text-align: center;
}